ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121275;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h2{
    color: #171515;
}
#signin{
    float: right;
}
li a:hover {
    background-color: #111111;
}
img: hover{
    width: 200px;
    height: 100px;
}
#logo{
    padding: 0px;
    margin: 0px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    }
